<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php"
         colors="true"
         debug="true"
         verbose="true"
         stopOnFailure = "false"
>
    <testsuites>
        <testsuite name="review">
            <directory suffix="Test.php">./src</directory>
            <exclude>../vendor</exclude>
            <exclude>../web/coverage</exclude>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="web/coverage/" charset="UTF-8" />
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">../</directory>
            <exclude>
                <directory>../vendor</directory>
                <directory>../views</directory>
                <directory>../runtime</directory>
                <directory>../web</directory>
                <directory>../config</directory>
                <directory>../commands</directory>
                <directory>../mail</directory>
                <directory>../migrations</directory>
                <directory>./</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
